:root {
    --sw-yellow: #fdb933;
    --sw-red: #d2232a;
    --sw-blue: #2E67F8;
    --sw-dark: #121212;
    --sw-darker: #0A0A0A;
    --sw-light-text: #E1E1E1;
}

body {
    background-color: var(--sw-dark);
    color: var(--sw-light-text);
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 75rem;
    padding-top: 70px;
}

.navbar {
    background-color: var(--sw-darker);
    box-shadow: 0 2px 10px rgba(255, 232, 31, 0.15);
}

.navbar-brand {
    color: var(--sw-yellow) !important;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

.nav-link {
    color: var(--sw-light-text) !important;
    transition: color 0.3s;
    font-weight: 700 !important;
    font-size: 1.1rem !important;
}

.navbar .nav-link:hover, .dropdown-item:hover {
    transition: color 0.2s ease-in-out;
    background-color: var(--sw-yellow);
    color: var(--sw-dark) !important;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/starfield.jpg') center/cover no-repeat;
    padding: 6em 0;
    margin-top: -1.5em;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--sw-yellow);
}

.hero h1 {
    color: var(--sw-yellow);
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 232, 31, 0.6);
}

.hero p {
    color: var(--sw-light-text);
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
}

.btn-sw {
    background-color: var(--sw-yellow);
    color: var(--sw-darker);
    font-weight: bold;
    border: none;
    padding: 10px 25px;
    transition: all 0.3s;
    margin-top: 20px;
}

.btn-sw:hover {
    background-color: var(--sw-darker);
    color: var(--sw-yellow);
    box-shadow: 0 0 15px rgba(255, 232, 31, 0.7);
}

.card {
    background-color: var(--sw-darker);
    border: 1px solid rgba(255, 232, 31, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
}

.card-title {
    color: var(--sw-yellow);
}

.section-title {
    color: darkgray;
    position: relative;
    display: inline-block;
    padding-bottom: 0.5em;
    font-weight: 600 !important;
    font-size: 160% !important;
    letter-spacing: 1px;
}

footer {
    background-color: var(--sw-darker);
    padding: 2em 0;
    margin-top: 1.5em;
    border-top: 1px solid rgba(255, 232, 31, 0.3);
}

.info-banner {
    background-color: rgba(46, 103, 248, 0.1);
    border-left: 3px solid var(--sw-blue);
    padding: 1em;
    border-radius: 0 14px 14px 0;
}

.info-banner p:last-child {
    margin-bottom: 0;
}

.sw-table th {
    color: var(--sw-yellow);
    border-bottom: 2px solid var(--sw-yellow);
}

.sw-table td {
    height: 3.5em !important;
    vertical-align: middle;
}

.table td.fit,
.table th.fit {
   white-space: nowrap;
   width: 1%;
}

h2 a, .sw-table a, #about a, .source, .sw-link {
    color: var(--sw-yellow) !important;
}

tr .btn-copy {
    display: none;
}

tr:hover .btn-copy {
    display: inline-block;
}

#top-cards li:last-child {
    border: none !important;
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    display: none;
}

.cookie-banner.show {
    display: block;
}

.event-metadata dt {
    font-weight: normal;
}

.event-metadata dt, .event-metadata dd {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.search-container {
    position: relative;
}

.search-input {
    height: 40px;
    padding-left: 45px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
}

.meta-opponents:last-child p:last-child {
    margin-bottom: 0;
}

.winrates-matrix {
    max-width: 100%;
    max-height: 800px;
    overflow: auto;
    position: relative;
    background-color: var(--sw-dark);
    margin-bottom: 2em;
    text-align: center;
}

.winrates-matrix .modal-body {
    padding: 0 !important;
    background-color: var(--sw-dark) !important;
}

.winrates-matrix .modal-header {
    padding: 8px 12px;
}

.winrates-matrix .modal-title {
    font-size: 100% !important;
}

.winrates-matrix-fullscreen {
    overflow: unset !important;
    width: 100% !important;
    height: 100% !important;
    max-height: fit-content !important;
    margin: 0em !important;
    padding: 0em !important;
}

.winrates-matrix .go-fullscreen {
    position: fixed;
    z-index: 10;
}

.winrates-matrix-ready {
    border: 1px solid #444;
    border-radius: 8px;
}

.winrates-matrix table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
}

.winrates-matrix img {
    border-radius: 8px;
}

.winrates-matrix thead th {
    position: sticky;
    top: 0;
    background-color: var(--sw-dark);
    z-index: 2;
}

.winrates-matrix tbody td:first-child {
    position: sticky;
    left: 0;
    background-color: var(--sw-dark);
    z-index: 1;
    width: 1%;
    white-space: nowrap;
}

.winrates-matrix thead th:first-child {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: var(--sw-dark);
}

.winrates-matrix th, .winrates-matrix td {
    padding: 8px;
    text-align: center;
}

.winrates-matrix tbody td {
    position: relative;
    height: 40px;
}

.winrates-matrix tbody td .entry {
    border-radius: 6px;
    height: 100%;
    display: grid;
    place-items: center;
}

.winrates-matrix tbody td .loss {
    background: #b03a2e;
}

.winrates-matrix tbody td .even {
    background: #A86523;
}

.winrates-matrix tbody td .win {
    background: #626F47;
}

.winrates-matrix tbody td .na {
    background: #222;
    height: 100%;
    color: #666;
}

.winrates-matrix tbody td .mirror {
    background: var(--sw-dark);
    color: #888;
    height: 100%;
}

.winrates-matrix tbody td .winrate {
    font-size: 100%;
    font-weight: bold;
}

.winrates-matrix tbody td .matches {
    font-size: 80%;
}

.winrates-chart {
    width: 100%;
    height: 50vh;
}

.bar-chart {
    min-height: 100px;
}

#tournaments-container td.col-date {
    font-size: 80%;
}

#tournaments-container td.col-meta {
    color: var(--sw-yellow);
}

#tournaments-container #decks-container {
    overflow: hidden;
}

#decks-container td.col-rank {
    font-size: 80%;
}

#decks-container .col-actions {
    width: 6em;
}
